<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

    <appSettings>
        <add key="ArkRemotePath" value="D:\ArkServerLauncher\ArkRemote.exe"/>
        <add key="LogOutputToFile" value="True"/>
        <add key="LogFilePath" value="D:\logs\"/>
        <add key="MinutesForShutdown" value="1.5"/>
    </appSettings>
</configuration>
